# ignore everything
*

# whitelist
!.gitignore
!.gitattributes
!go.mod
!go.sum

!*.md
!*.go
!build.bat
!settings.yaml

!.github/
!.github/**/
!.github/**/*.yaml
!cmd/
!cmd/icon.png
!cmd/winres.json
!cmd/rsrc_*.syso
!pkg/
!pkg/controller/
!pkg/layout/
!pkg/setting/
!pkg/theme/
!pkg/widget/
