# ignore everything
*

# whitelist
!.gitignore
!.gitattributes
!go.mod
!go.sum

!*.md
!*.go
!build.bat
!settings.yaml

!cmd/
!pkg/
!pkg/controller/
!pkg/layout/
!pkg/setting/
!pkg/theme/
!pkg/widget/
!resources/
!resources/icon.png
!winres/
!winres/winres.json
