# ignore everything
*

# whitelist
!.gitignore
!gen-mock-zips.sh
!go.mod
!go.sum
!LICENSE.md
!README.md
!settings.yaml

!*.go

!.github/
!.github/**/
!.github/**/*.yaml
!cmd/
!cmd/game-icon.png
!cmd/app-icon.png
!cmd/rsrc_*.syso
!cmd/winres.json
!internal/
!internal/**/
